.git
.github
.next
.terraform
**/.next
**/.terraform
.turbo
**/bin
**/dist
**/node_modules
**/obj
apps/backends/edge-hub/data
apps/backends/edge-hub
apps/backends/edge-hub.tests
apps/native/ops-shell
infra
node_modules
packages/api-client-csharp
playwright-report
test-results
tests
*.log
.env*
!.env.example
