* text=auto
*.cjs text eol=lf
*.cs text eol=lf
*.css text eol=lf
*.html text eol=lf
*.js text eol=lf
*.json text eol=lf
*.md text eol=lf
*.mjs text eol=lf
*.py text eol=lf
*.sql text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
*.sh text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
apps/api/openapi/openapi.json text eol=lf
packages/api-client-csharp/Generated/kiota-lock.json text eol=lf
Dockerfile* text eol=lf
*.ps1 text eol=crlf
