* text=auto
*.sh text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
apps/api/openapi/openapi.json text eol=lf
packages/api-client-csharp/Generated/kiota-lock.json text eol=lf
Dockerfile* text eol=lf
*.ps1 text eol=crlf
